# Enable Rewrite Engine
RewriteEngine On

# === Force HTTPS and Single www ===
RewriteCond %{HTTP_HOST} ^www\.www\. [NC,OR]
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTPS} off
RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP_HOST} ^www\.www\. [NC]
RewriteRule ^ https://%{HTTP_HOST:4}%{REQUEST_URI} [R=301,L]

# === Redirect all requests to index.php ===
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]